<div class="box">
  <div class="p-grid p-fluid">
    <form [formGroup]="cursoForm" (ngSubmit)="validate()">
      <div class="p-col-12 tela-login">

        <h1 class="p-text-center">{{ idEdicao ? 'Editar' : 'Cadastrar' }} curso</h1>

        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><em class="pi pi-book"></em></span>
          <input type="text" pInputText formControlName="nome" id="tx-nome" placeholder="Nome">
          <app-mensagem-validacao formControlName="nome"></app-mensagem-validacao>
        </div>

        <div class="p-my-3">
          <textarea pInputTextarea formControlName="descricao" [rows]="5" [cols]="30" id="tx-descricao" placeholder="Descrição"></textarea>
          <app-mensagem-validacao formControlName="descricao" [isInline]="false"></app-mensagem-validacao>
        </div>

        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><em class="pi pi-user"></em></span>
          <p-dropdown
            [options]="(professores$ | async)"
            placeholder="Selecione" [ngStyle]="{'width': '100%'}"
            emptyMessage="Nenhum professor encontrado."
            formControlName="idProfessor" name="idProfessor" inputId="sl-professor">
          </p-dropdown>
        </div>
        <app-mensagem-validacao styleClass="p-mt-1" formControlName="idProfessor" [isInline]="false"></app-mensagem-validacao>

        <h2 class="p-text-center">Aulas</h2>
        <hr />

        <ng-container formArrayName="aulas">
          <div *ngFor="let control of aulas.controls; index as i">
            <ng-container [formGroupName]="i">

              <div class="p-grid p-ai-center vertical-container">
                <div class="p-col-6 p-offset-3 p-text-center">
                  <h3>Aula #{{ i + 1 }}</h3>
                </div>
                <div class="p-col-3 p-text-right">
                  <label>&nbsp;</label>
                  <p-button [disabled]="aulas.length <= 1" styleClass="p-button-raised p-button-danger p-button-rounded" title="Remover aula" (onClick)="removerAula(i)" icon="pi pi-times-circle" type="button"></p-button>
                </div>
              </div>

              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><em class="pi pi-calendar"></em></span>
                <input type="text" pInputText formControlName="nome" id="tx-nome-{{i}}" placeholder="Nome">
                <app-mensagem-validacao formControlName="nome"></app-mensagem-validacao>
              </div>

              <div class="p-my-3">
                <textarea pInputTextarea formControlName="descricao" [rows]="5" [cols]="30" id="tx-descricao-{{i}}" placeholder="Descrição"></textarea>
                <app-mensagem-validacao formControlName="descricao" [isInline]="false"></app-mensagem-validacao>
              </div>
  
              <div class="p-inputgroup p-mb-3">
                <span class="p-inputgroup-addon"><em class="pi pi-clock"></em></span>
                <input type="text" pInputText formControlName="duracao" id="tx-duracao-{{i}}" placeholder="Duração">
                <app-mensagem-validacao formControlName="duracao"></app-mensagem-validacao>
              </div>
  
              <ng-container formArrayName="topicos">
                <div class="p-grid p-ai-end vertical-container">
                  <div class="p-col-12 p-md-6" *ngFor="let topico of getTopicos(control); index as j">
                    <ng-container [formGroupName]="j">
                      <label for="tx-topico-{{i}}-{{j}}">Tópico #{{ j + 1 }}</label>
                      <div class="p-inputgroup p-mt-2">
                        <p-button
                          styleClass="p-button-raised p-button-danger"
                          title="Remover tópico"
                          (onClick)="removerTopico(i, j)"
                          icon="pi pi-times-circle"
                          type="button"
                          [disabled]="getTopicos(control).length <= 1"
                        ></p-button>
                        <input type="text" pInputText formControlName="nome" id="tx-topico-{{i}}-{{j}}" placeholder="Nome">
                      </div>
                      <app-mensagem-validacao formControlName="nome" [isInline]="false"></app-mensagem-validacao>
                    </ng-container>
                  </div>
                  <div class="p-col-12 p-md-6">
                    <label>&nbsp;</label>
                    <div class="p-inputgroup">
                      <p-button
                        styleClass="p-button-raised p-button-success p-button-rounded"
                        title="Novo tópico" type="button"
                        (onClick)="newTopico(i)"
                        icon="pi pi-plus-circle"
                      ></p-button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>

          <hr />

          </div>
          <p-button styleClass="p-button-raised p-button-success" (onClick)="newAula()" icon="pi pi-plus-circle" type="button" label="Nova aula"></p-button>
        </ng-container>

        <hr />

        <div class="p-grid">
          <div class="p-col-6">
            <p-button styleClass="p-button-raised" icon="pi pi-user-plus" type="submit" label="Cadastrar"></p-button>
          </div>
          <div class="p-col-6">
            <p-button type="button" styleClass="p-button-raised p-button-secondary" icon="pi pi-times-circle" (onClick)="voltar()" label="Cancelar"></p-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>